body{
    background-color: #dff4eb;
    margin: 0;
}
header{
    background-color: white;
    padding: 20px 0px 20px 20px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.flexRow{
    display: flex;
    flex-direction: row;
}
h4{
    color:black;
    font-family: "Poppins", sans-serif;
}
button{
    font-family: cursive;
    cursor: pointer;
}
.colorGreenRdv{
    border-radius: 50px;
    justify-content: center;
    margin-right: 20px;
    background-color: #2f8f72;
    border: none;
    color: white;
    min-width: 60px;
    
}
.Button {
    border-radius: 50px;
    justify-content: center;
    margin-right: 20px;
    border: solid rgba(0, 128, 90, 0.312);
    background-color: #dff4eb;
}
.logoutButton{
    border-radius: 50px;
    margin-right: 20px;
    background-color: #b94141;
    border: none;
    color: white;
    padding: 14px 20px;
}
